
.countryDetail {
	display:flex;
	flex-flow: row nowrap;
	font-weight: bold;
	justify-content: space-evenly;
	max-width: inherit;
	
	
}

.countryDetail__box{
	display: flex;
	flex-flow: row nowrap;
	background-color: whitesmoke;
	margin-left: 1rem;
	margin-right: 1rem;
	justify-content: center;
	width: auto;
	height: auto;
	padding: 2rem auto;
	border: 2px solid black;
	border-radius: 10px;
	box-shadow:         4px 6px 5px 0px rgba(50, 50, 50, 1);
	align-content: center;
	align-items: center;
	  }

	
.countryDetail__list{
	margin-left: 2rem;
    margin-right: 2rem;
	align-content: center;
	
}

.countryDetailTitle{
	text-align: center;
	font-size: 60px;
	margin: 1rem 0 0 2rem;
	text-decoration: underline;
}

.countryDetail__listName{
 	
	justify-content: center; 
	font-weight: bold;
	font-family: 'Merienda';
	font-size: 25px;
	padding: 0 0 10rem 0;
	text-align: center;
	text-decoration: underline;


}
.countryDetail__listItem {
	font-family: 'Hind';
	font-size: 22px;
	padding: 2rem 0 0 0;
    justify-content: center;
	font-weight: bold;
	list-style: none;
}
