.personalInfo{
    display: flex;
    flex-flow: row no-wrap;
    font-size: 35px ;
    margin: 2rem 0 2rem 2rem;
    padding: 3rem 3rem 3rem 3rem;
    border: 1px solid black;
    min-width: 20%;
    word-spacing: 5px;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.32); 
    border-radius: 5%;
    background-color: whitesmoke;
    
}
