@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");
@import url("https://fonts.googleapis.com/css?family=Reem+Kufi&display=swap");
@import url(/styles/navbar.css);
@import url(/styles/detailList.css);
@import url("https://fonts.googleapis.com/css?family=Merienda|Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css?family=Hind&display=swap");
@import url(/styles/cssAnimation.css);
/*Typography --------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

.body{
	/* background-color: burlywood; */
}


.countryImage {
	height: 633.89px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2rem;
	width: 100%;
	-webkit-box-shadow: 0px 6px 5px 0px rgba(50, 50, 50, 1);
-moz-box-shadow:    0px 6px 5px 0px rgba(50, 50, 50, 1);
box-shadow:         0px 6px 5px 0px rgba(50, 50, 50, 1);
}

.countryName {
	text-align: center;
	font-family: 'Shadows Into Light';
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 2rem;
/* }
.countryDetail {
	display:flex;
	flex-flow: row nowrap;
	font-weight: bold;
	justify-content: center;
	max-width: inherit;
	
}

.countryDetail__box{
	display: flex;
	flex-flow: row nowrap;
	background-color: whitesmoke;
	margin-left: 2rem;
	margin-right: 2rem;
	justify-content: center;
	width: 250px;
	height: 400px;
	padding: 2rem auto;
	border: 1px solid black;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.countryDetail__list{
	margin-left: 2rem;
	margin-right: 2rem;
}

.countryDetail__listName{
	
	justify-content: center;
	font-weight: bold;
	font-family: 'Merienda';
	font-size: 20px;


}
.countryDetail__listItem {
	font-family: 'Hind';
	font-size: 15px;
	padding: 1rem 0 1rem 0;
	justify-content: left

} */

.card {
	display: flex;
	flex-flow: row nowrap;
	flex-direction: column;
	flex-basis: 33.3%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	border-radius: 5px; /* 5px rounded corners */
  }


  img {
	border-radius: 5px 5px 0 0;
	
  }

  
 