@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography --------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

.countryDetail {
	display:flex;
	flex-flow: row nowrap;
}
.countryNav {
	display:flex;
	flex-flow: row nowrap;
	max-height: 10em;
	font-weight: bolder;
	font-size: 1.5em;
	
}
.navlogo {
	min-width: 20%;
}
.navrows {
	display: flex;
	flex-flow: column nowrap;
	min-width: 80%
}
.navrow1 {
	display: flex;
	flex-flow: row nowrap;
	padding-top: 1.5em ;
	padding-bottom: 1.1em;
	padding-left: 3em;
	
}
.navitem1 {
	width: 50%;
}
.navrow2 {
	display: flex;
	flex-flow: row nowrap;
	margin-bottom: 1em;
	justify-content: space-evenly;
}



